
<h4>Add-on Installer</h4>
                                    
	<form id="install-frm" action="/addon/install-addon" role="form" >
		<div class="form-group">
			<label>Package .zip URL ALLOWCHANGES</label>
			<input class="form-control" id="zipfileURL" type="text" name="zipfileURL" value="" autocomplete="one-time-code" placeholder="e.g. https://path.to.your.addon/file.zip">
			
			<p class="help-block">Note: This address should be on the internet somewhere, not your local machine. <a href="javascript:" onclick="jQuery('#tipURL').slideToggle(); return false;">Finding Tip</a></p>
			<p id="tipURL" style="display: none;">You can usually 'right click' on a download link in a browser and click 'Copy Link', or similar, to get this address. e.g. <a href="http://medimage.co.nz" target="_blank">MedImage.co.nz</a> has these files on it's download add-on pages.</p>
			<p class="help-block"><b>Warning:</b> Please make sure you trust the source of the .zip file you are installing.</p>
			<p class="help-block"><a href="javascript:" onclick="jQuery('#passwordBlock').slideToggle(); return false;">Enter Admin Password</a> (optional)</p>
		
		</div>
		<!-- Can put option to keep master copy here -->
		<div id="passwordBlock" style="display: none;" class="form-group">
			<label>Password</label>
			<input class="form-control" id="password" name="password" type="password">
			
			<p class="help-block">Your Linux/Unix/Mac Administrator password, if applicable.</p>

		
		</div>

		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Download and Install">
		</div>
	</form>
	<br><br><br>
	
<h4>Currently Installed Add-ons</h4>
	
	CURRENTADDONS
	
	
	<script>
	 jQuery(document).ready(function(){         			
		
		 var startedInstalling = false;
		
			 
			 jQuery( "#install-frm" ).submit(function( event ) {
			  
			    if(startedInstalling == false) {
			
			  		jQuery('#waiter').fadeIn(1000, function() {
			  					jQuery("#install-frm").submit();
			  				}); 
			  		event.preventDefault();
			  		startedInstalling = true;
			  		
			  		
			  		return false;
			   	}
			   
			   	return true;
			  
			  
			  
			});
	});
	</script>
